.notification {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5),
  inset 0 1px 0 rgba(255, 255, 255, 0.6);
  width: 260px;
  visibility: visible;
  opacity: 0.8;
  margin-bottom: 10px;
  animation: show 1s, hide .7s 4s;

  &__text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: default;
  }

  &_info {
    background: #3C93D5;;
  }

  &_error {
    background: crimson;
  }

  &_delete {
    display: none;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes hide {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

.notification-wrap {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 999999;
}
